/**
 *
 *
 *
 * BUTTON 
 */
/* px-2 h-8 text-xs font-medium border-black/10 rounded-md shadow-sm */
.btn-flat,
.btn-outline,
.btn-action,
.btn {
  @apply inline-flex items-center justify-center;
  @apply h-[2rem] px-2 rounded-md;
  @apply cursor-pointer;
  @apply text-xs capitalize whitespace-nowrap;
}

.btn-outline,
.btn-action,
.btn {
  @apply shadow-sm border;
}

.btn {
  @apply bg-primary text-contras-primary;
}

.btn-outline {
  @apply font-medium;
}

.btn-action {
  @apply hover:shadow-inner;
}

.btn-action:hover > * {
  @apply drop-shadow-sm scale-95 saturate-[3];
}

.btn-disabled,
.btn:disabled,
button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: transparent;
  cursor: not-allowed;
}

/**
 *
 *
 *
 * BTN LOADING 
 */
.btn-loading {
  @apply relative overflow-hidden;
}

.btn-loading::before {
  content: "";
  @apply absolute inset-[0] bg-black/20;
}

.btn-loading::after {
  content: "";
  @apply absolute w-[16px] aspect-square border rounded-full shadow-md;
  border-width: 3px;
  border-color: #fff #fff #fff transparent;
  animation: rotate-360 1.2s linear infinite;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
